<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Builder</title>
	<link rel="stylesheet" href="/static/styles.css"> <!-- Link to the external CSS file -->
</head>
<body>
    <h1>Character Builder</h1>
	<!-- Class Selection -->

<form>
	<div class="statsselected">
        <!-- Character Stats -->
        <label for="strength">Strength:</label>
        <input type="number" id="strength" name="strength" value="{{ .stats.Strength }}"><br>
        <label for="vigor">Vigor:</label>
        <input type="number" id="vigor" name="vigor" value="{{ .stats.Vigor }}"><br>
        <label for="agility">Agility:</label>
        <input type="number" id="agility" name="agility" value="{{ .stats.Agility }}"><br>
        <label for="dexterity">Dexterity:</label>
        <input type="number" id="dexterity" name="dexterity" value="{{ .stats.Dexterity }}"><br>
        <label for="will">Will:</label>
        <input type="number" id="will" name="will" value="{{ .stats.Will }}"><br>
        <label for="knowledge">Knowledge:</label>
        <input type="number" id="knowledge" name="knowledge" value="{{ .stats.Knowledge }}"><br>
        <label for="resourcefulness">Resourcefulness:</label>
        <input type="number" id="resourcefulness" name="resourcefulness" value="{{ .stats.Resourcefulness }}"><br>
        <!-- Submit button -->
	</div>

    <div>
        <p>Class: {{ .printclass}} </p>
    </div>

</form>

<form id="itemForm" method="GET"> <!-- Items Form -->
    <div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Helmet From -->
        <div class="dropdown-group"> <!-- helmet list dropdown -->
            <label for="itemSelect">Helmet</label>
            <select id="itemSelect" name="itemhelmet">
                <option value="">Select a helmet</option>
                {{range .helmetlist}}
                    <option value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>
		<div class="dropdown-group"> <!-- rarity dropdown -->
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_helmet">
                <option value="">Select rarity</option>
                {{range .raritylistpick}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div> <!-- color box-->
		<div class="dropdown-group"> <!-- rating values list dropdown -->
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_helmet">
				<option value="">Select Armor Rating</option>
                {{range .helmet_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
			
        </div>
		<div class="dropdown-group">
            <label for="itemenchanment">Enchanment</label>
            <select id="itemechantment" name="enchantment_helmettype">
				<option value="">Select Enchanment</option>
                {{range .helmet_enchantmenttype}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
        <div class="dropdown-group">
            <label for="itemenchanmentvalue">Enchanment Value</label>
            <select id="itemechantmentvalue" name="enchantment_helmetvalue">
				<option value="">Select Enchanment</option>
                {{range .helmet_enchantmentvalue}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
        <div class="dropdown-group">
            <label for="itemenchanment2">Enchanment Two</label>
            <select id="itemechantment2" name="enchantment_helmettype2">
				<option value="">Select Enchanment</option>
                {{range .helmet_enchantmenttypetwo}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
        <div class="dropdown-group">
            <label for="itemenchanmentvalue2">Enchanment Value Two</label>
            <select id="itemechantmentvalue2" name="enchantment_helmetvalue2">
				<option value="">Select Enchanment</option>
                {{range .helmet_enchantmentvaluetwo}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
        <div class="dropdown-group">
            <label for="itemenchanment3">Enchanment Three</label>
            <select id="itemechantment3" name="enchantment_helmettype3">
				<option value="">Select Enchanment</option>
                {{range .helmet_enchantmenttypethree}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
        <div class="dropdown-group">
            <label for="itemenchanmentvalue3">Enchanment Value Three</label>
            <select id="itemechantmentvalue3" name="enchantment_helmetvalue3">
				<option value="">Select Enchanment</option>
                {{range .helmet_enchantmentvaluethree}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
    </div>
	<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Chest From -->
    <div class="dropdown-group">
        <label for="itemSelect">Chest</label>
        <select id="itemSelect" name="itemchest">
			<option value="">Select a chest</option>
            {{range .chestlist}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
		<div class="dropdown-group">
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_chest">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>	
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group"> <!-- chest list  -->
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_chest">
				<option value="">Select Armor Rating</option>
                {{range .chest_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
			
        </div>
        <div class="dropdown-group">
            <label for="itemenchanment">Enchanments</label>
            <select id="itemechantment" name="enchantment_chesttype">
				<option value="">Select Enchanment</option>
                {{range .chest_enchantmenttype}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
        <div class="dropdown-group">
            <label for="itemenchanmentvalue">Enchanments</label>
            <select id="itemechantmentvalue" name="enchantment_chestvalue">
				<option value="">Select Enchanment</option>
                {{range .chest_enchantmentvalue}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
	</div>	
	<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Gloves Form -->
    <div class="dropdown-group">
        <label for="itemSelect">Gloves</label>
        <select id="itemSelect" name="itemgloves">
			<option value="">Select a gloves</option>
            {{range .gloveslist}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
		<div class="dropdown-group">
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_gloves">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>
			
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group">
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_gloves">
				<option value="">Select Armor Rating</option>
                {{range .gloves_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
			
        </div>
    </div>	
	<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Pants Form -->
	<div class="dropdown-group">
        <label for="itemSelect">Pants</label>
        <select id="itemSelect" name="itempants">
			<option value="">Select a pants</option>
            {{range .pantslist}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
		<div class="dropdown-group">
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_pants" onchange="updateColorBox()">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>
			
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group">
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_pants">
				<option value="">Select Armor Rating</option>
                {{range .pants_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
	</div>
	<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Boots Form -->
	<div class="dropdown-group">
        <label for="itemSelect">Boots</label>
        <select id="itemSelect" name="itemboots">
			<option value="">Select a boots</option>
            {{range .bootslist}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
		<div class="dropdown-group">
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_boots">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>
			
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group">
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_boots">
				<option value="">Select Armor Rating</option>
                {{range .boots_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
			
        </div>
	</div>
	<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Cloak Form -->
		<div class="dropdown-group">
        <label for="itemSelect">Cloak</label>
        <select id="itemSelect" name="itemcloak">
			<option value="">Select a cloak</option>
            {{range .cloaklist}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
        </div>
		<div class="dropdown-group">
			<label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_cloak">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>
			
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group">
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_cloak">
				<option value="">Select Armor Rating</option>
                {{range .cloak_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
			
        </div>
	</div>
    <div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Necklace From -->
        <div class="dropdown-group">
            <label for="itemSelect">Necklace</label>
            <select id="itemSelect" name="itemnecklace">
                <option value="">Select Necklace</option>
                {{range .necklacelist}}
                    <option value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>
        <div class="dropdown-group">
                <label for="rarityselect">Rarity</label>
                <select id="rarityselect" name="rarityselect_necklace">
                    <option value="">Select Rarity</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>	
        </div>     
        
        <div class="dropdown-group">
                <label for="itemenchanment">Enchanments</label>
                <select id="itemechantment" name="enchantment_necklacetype">
                    <option value="">Select Enchanment</option>
                    {{range .necklace_enchantmenttype}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
        </div>
        <div class="dropdown-group">
                <label for="itemenchanmentvalue">Enchanments</label>
                <select id="itemechantmentvalue" name="enchantment_necklacevalue">
                    <option value="">Select Enchanment</option>
                    {{range .necklace_enchantmentvalue}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
        </div>
    </div>
    <div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Ring From -->
        <div class="dropdown-group">
            <label for="itemSelect">Ring</label>
            <select id="itemSelect" name="itemring">
                <option value="">Select Ring</option>
                {{range .ringlist}}
                    <option value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>
        <div class="dropdown-group">
                <label for="rarityselect">Rarity</label>
                <select id="rarityselect" name="rarityselect_ring">
                    <option value="">Select Rarity</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>	
        </div>     
        
        <div class="dropdown-group">
                <label for="itemenchanment">Enchanments</label>
                <select id="itemechantment" name="enchantment_ringtype">
                    <option value="">Select Enchanment</option>
                    {{range .ring_enchantmenttype}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
        </div>
        <div class="dropdown-group">
                <label for="itemenchanmentvalue">Enchanments</label>
                <select id="itemechantmentvalue" name="enchantment_ringvalue">
                    <option value="">Select Enchanment</option>
                    {{range .ring_enchantmentvalue}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
        </div>
    </div>
    <div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Primary Weapon From -->
        <div class="dropdown-group"> <!-- helmet list dropdown -->
            <label for="itemSelect">Primary Weapon</label>
            <select id="itemSelect" name="itemprimaryweapon">
                <option value="">Select Primary Weapon</option>
                {{range .primaryweaponlist}}
                    <option value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>
		<div class="dropdown-group"> <!-- rarity dropdown -->
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_weapon">
                <option value="">Select rarity</option>
                {{range .raritylistpick}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div> <!-- color box-->
		<div class="dropdown-group"> <!-- rating values list dropdown -->
            <label for="itemarmorrating">Primary Weapon Damage Rating</label>
            <select id="itemarmorrating" name="rating_primaryweapon">
				<option value="">Select Primary Weapon Damage Rating</option>
                {{range .primaryweapon_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
		<div class="dropdown-group">
            <label for="itemenchanment">Primary Weapon Enchanment</label>
            <select id="itemechantment" name="enchantment_primaryweapon">
				<option value="">Select Enchanment</option>
                {{range .primaryweapon_enchantmenttype}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
        <div class="dropdown-group">
            <label for="itemenchanmentvalue">Primary Weapon Enchanment Value</label>
            <select id="itemechantmentvalue" name="enchantment_primaryweaponvalue">
				<option value="">Select Enchanment</option>
                {{range .primaryweapon_enchantmentvalue}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
    </div>
	<div> <!-- Update button -->
	     <input type="submit" value="Update Stats">
	</div>		 
</form>


<div class="scrollable-content">

    <h2>Character Stats</h2>
  
    <p>Health: {{ .computedstats.Health }}</p>
    
    <p>Physical Healing: {{.computedstats.PhysicalHealing }} </p>

    <p>Magical Healing: {{ .computedstats.MagicalHealing }}</p>
	
	<p>Memory Capacity: {{ .computedstats.MemoryCapacity }}</p>

    <p>Memory Spell Payload: </p>

    <p>Memory Music Payload: </p>

    <p>Utility Effectiveness: </p>

    <p>Luck: {{ .computedstats.Luck }}</p>
	
	<p>Health Recovery Bonus: {{ .computedstats.HealthRecovery }}%</p>
	
	<p>Spell Recovery : {{ .computedstats.SpellRecovery }} %</p>
	
	<p>Move Speed: {{ .computedstats.MoveSpeed }} </p>
	
	<p>Move Speed Percentage: {{ .computedstats.MoveSpeedCalc }}%</p>
	
    <p>Action Speed: {{ .computedstats.ActionSpeed }}%</p>
	
	<p>Manual Dexterity: {{ .computedstats.ManualDexterity }}%</p>
	
	<p>Spell Casting Speed: {{ .computedstats.SpellCastingSpeed }}%</p>
	
	<p>Equip Speed: {{ .computedstats.EquipSpeed }}%</p>
	
	<p>Regular Interaction Speed: {{ .computedstats.RegularInteractionSpeed }}%</p>
	
	<p>Magical Interaction Speed: {{ .computedstats.MagicalInteractionSpeed }}%</p>
	
	<p>Persuasiveness: {{ .computedstats.Persuasiveness }}</p>
	
	<p>Buff Duration: {{ .computedstats.BuffDuration }}%</p>
	
	<p>Debuff Duration: {{ .computedstats.DebuffDuration }}%</p>
	
	<p>Cooldown Reduction: {{ .computedstats.CooldownReduction }}%</p>

    <p>Armor Penertation: {{ .computedstats.ArmorPenetration }} %</p>

    <p>Magic Penetration: {{ .computedstats.MagicPenetration}} % </p>

    <p>Headshot Reduction: {{ .computedstats.HeadshotReduction}} % </p>

    <p>Projectile Damage Reduction: {{ .computedstats.ProjectileReduction}} %</p>

    <p>Physical Damage Reduction {{ .computedstats.PhysicalDamageReduction }}% </p>

    <p>From Armor Rating: {{ .computedstats.FromArmorRating }} </p>

    <p>From Bonuses: {{.computedstats.BonusPhysicalDamageReduction }} %</p>

    <p>Magic Resistance: {{ .computedstats.MagicalDamageReduction }} %</p>

    <p>From Magic Rating: {{ .computedstats.MagicRating }} </p> 

    <p>From Bonuses:  {{ .computedstats.BonusMagicalDamageReduction}} %</p>

	<p>Physical Power Bonus: {{ .computedstats.PhysicalPowerBonus }} % </p>
    
    <p>From Physical Power: {{ .computedstats.PhysicalPower }}</p>

    <p>From Bonuses:{{.computedstats.BonusPhysicalPower}}</p>

    <p>Magical Power Bonus: {{.computedstats.MagicalPowerBonus }}%</p>
	
    <p>From Magical Power: {{.computedstats.MagicalPower}}</p>

    <p>From Bonuses: {{.computedstats.BonusMagicalPower}} </p>

    <!--

    <p>Primary Weapon: </p>

    <p>Attack 1: </p>

    <p>Attack 2: </p>
    
    <p>Attack 3: </p>

    <p>Secondary Weapon: </p>

    <p>Attack 1: </p>

    <p>Attack 2: </p>
    
    <p>Attack 3: </p>

    <p>Impact Power: </p>

    <p>Primary Weapon Impact Power: </p>

    <p>Secondary Weapon Impact Power: </p>
    -->
    
    <p>test {{.test}} </p>  

    <p>test2 {{.test2}} </p>

    <p>test3 {{.test3}} </p>

    <p>test4 {{.test4}} </p>
    
</div>

</body>
</html>
